<!-- app/views/layouts/_footer.html.erb -->

<footer class="footer mt-auto py-3">
  <div class="container text-center">
    <p class="text-muted">
      Данное веб-приложение создал Ростислав Мирошник для уважаемой компании RND soft возможно где-то есть ошибки, но я обязательно буду работать над собой 😎!
      Поздравляю весь Ваш уважаемый состав большой команды с наступающим Новым Годом!
      От всей души хочу пожелать Вам новых успехов в Новом Году 🎄🎅!
    </p>
  </div>
</footer>
